{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <div class="container">
        <table class="table table-dark">
            <caption>List of all the courses in the system.</caption>
            <thead>
            <tr>
                <th scope="col">Department Code</th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col"># Seats</th>
                <th scope="col">Description</th>
            </tr>
            </thead>

            <tbody id="courseList">
            {% for object in courses %}
                <tr id="row{{ object.pk }}">
                    <td> {{ object.course_dept_code }} </td>
                    <td> {{ object.course_num_code }} </td>
                    <td> {{ object }} </td>
                    <td> {{ object.course_seats }} </td>
                    <td> {{ object.course_description }} </td>
                    <td>
                        <a class="btn btn-danger" data-name="{{ object }}" data-pk="{{ object.pk }}"
                           data-toggle="modal" data-target="#courseDeleteModal">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container">
            <button id="addCourse" class="btn btn-primary" data-toggle="modal" data-target="#courseAddModal">Add
                Course
            </button>
        </div>
    </div>

    {% comment %} MODAL {% endcomment %}
    <div class="modal fade" id="courseDeleteModal" role="dialog">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete Course</h4>
                </div>

                <form action="" method="post" id="courseDeleteForm">
                    {% csrf_token %}
                    <div class="modal-body" style="padding:40px 50px;">
                        <h3>Are you sure?</h3>
                        <p id="question">You're about to delete --name--here--. Please confirm.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-primary">Confirm</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="courseAddModal" role="dialog">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add Course</h4>
                </div>
                <form method="POST" role="form" id="courseForm">  {% csrf_token %}
                    <div class="modal-body">
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        <div class="form-group">
                            {{ form.course_dept_code.label }}

                            {% render_field form.course_dept_code class='form-control' %}
                        </div>

                        <div class="form-group">
                            {{ form.course_num_code.label }}
                            {% render_field form.course_num_code class='form-control' %}
                        </div>

                        <div class="form-group">
                            {{ form.course_seats.label }}
                            {% render_field form.course_seats class='form-control' %}
                        </div>

                        <div class="form-group">
                            {{ form.course_name.label }}
                            {% render_field form.course_name class='form-control' %}
                        </div>

                        <div class="form-group">
                            {{ form.course_description.label }}
                            {% render_field form.course_description class='form-control' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit" class="btn btn-primary">Save</button>

                        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}

    <script src="{% static 'js/courses.js' %}"></script>

{% endblock js %}