{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h3>Add phone numbers to {{ student }} ({{ student.student_id }}).</h3>

    <form method="post" action="">  {% csrf_token %}
        {{ formset.management_form }}

        <div class="container">
            {# IMPORTANT #}
            {# If these hidden fields are not included, MULTIVALUEDICTKEYERROR is thrown. #}
            {% for form in formset.forms %}

                {% for hidden_fields in form.hidden_fields %}
                    {{ hidden_fields.errors }}
                    {{ hidden_fields }}
                {% endfor %}


                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    Phone Number:
                    (
                    <div class="form-group col-2">
                        {% if form.area_code.errors %}
                            {% render_field form.area_code class='form-control form-control-sm is-invalid' %}
                            {% for error in form.area_code.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.area_code class='form-control form-control-sm is-valid' %}
                            {#                        {{ form.area_code.help_text }}#}
                        {% endif %}
                    </div>
                    )
                    -
                    <div class="form-group col-2">
                        {% if form.first_three.errors %}
                            {% render_field form.first_three class='form-control form-control-sm is-invalid' %}
                            {% for error in form.first_three.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.first_three class='form-control form-control-sm is-valid' %}
                        {% endif %}
                    </div>
                    <div class="form-group col-2">
                        {% if form.last_four.errors %}
                            {% render_field form.last_four class='form-control form-control-sm is-invalid' %}
                            {% for error in form.last_four.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.last_four class='form-control form-control-sm is-valid' %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>


{% endblock content %}