{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p><img src={{ object.pic_or_default }} width='360px;'></p>
                <a class="btn btn-default" href="{{ object.pic_or_default }}" download >Download</a>
            </div>
            <div class="col-sm">
                Name: <h5>{{ object }}</h5>
                <p> Courses taken: <br>
                <h5>{{ object.course_list }}</h5>
                </p>
                <a href="{% url 'student_edit' pk=object.pk %}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>

{% endblock content %}

{#{% block js %}#}
{#    <script>#}
{##}
{#        $(document).ready(function () {#}
{#            console.log(Math.random());#}
{#            var $downloadForm = $('#imageDownload');#}
            {#$downloadForm.submit(function(event){#}
            {#    event.preventDefault();#}
            {#    console.log('Image requested.'); // Sanity check.#}
            {#    $.ajax({#}
            {#        method: "GET",#}
            {#        url: '{% url 'student_details' pk=object.pk %}',#}
            {#        data: {#}
            {#            'export':'image',#}
            {#        },#}
            {#        success: handleSuccess,#}
            {#        error: handleError,#}
            {#    });#}
            {#    function handleSuccess(data, textStatus, jqXHR) {#}
            {#        console.log("SUCCESSFUL CALL!!.");#}
            {#        console.log(data);#}
            {#        console.log(textStatus);#}
            {#        console.log(jqXHR);#}
            {#    }#}
            {##}
            {#    function handleError(jqXHR, textStatus, errorThrown) {#}
            {#        console.log(jqXHR);#}
            {#        console.log(textStatus);#}
            {#        console.log(errorThrown)#}
            {#    }#}
            {# });#}
{#        });#}
{##}
{#    </script>#}
{##}
{##}
{#{% endblock js %}#}