{% extends 'base.html' %}


{% block content %}

    <div class="content">
        <div class="jumbotron">
            <h1 class="display-4">Hi!</h1>
            <p class="lead">This is a tutorial project, a simple django project, aimed at getting one used to
                django web development model.</p>
            <hr class="my-4">
            <p>Developed by Akshay Gaur towards the on boarding process as a Student Developer at CCE-IT.</p>
        </div>
    </div>


{% endblock content %}